#blog {
    display: flex;
    flex-direction: column;

    #posts-container {
        display: flex;
        justify-content: center;
        flex: 1;
        overflow: auto;

        #posts {
            max-width: 900px;
            box-sizing: border-box;
        }
    }
}
