@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap");

:root {
    --header-height: 110px;
}

html {
    &,
    body,
    #root,
    #landing,
    #blog,
    #portfolio,
    #about {
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }

    #landing {
        z-index: 1;
    }

    #name-header {
        z-index: 3;
    }

    #root > *:not(#landing):not(#name-header) {
        z-index: 2;
    }

    #blog,
    #portfolio,
    #about {
        padding-top: var(--header-height);
        overflow: auto;
    }

    #landing,
    body {
        background-color: #eee;
    }

    body {
        margin: 0;
        font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI",
            "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
            "Helvetica Neue", sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        #root {
            overflow: hidden;

            a {
                color: #269587;

                &:hover {
                    color: #1e5f5b;
                }
            }

            .button-link {
                background: #000;
                border-radius: 8px;
                border: 0;
                color: white;
                display: inline-block;
                font-size: 1.1rem;
                font-weight: 400;
                padding: 5px 10px;
                text-decoration: none;

                &:hover {
                    background-color: #555;
                    color: white;
                    cursor: pointer;
                }
            }

            code {
                font-family: source-code-pro, Menlo, Monaco, Consolas,
                    "Courier New", monospace;
            }
        }
    }
}
