@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400&display=swap");
#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing .content-container {
  --img-ratio: 1144/736;
  --container-height: calc(35vw * var(--img-ratio));
  height: var(--container-height);
  max-height: 100vh;
  width: 100%;
  position: relative;
}

#landing .content-container h1,
#landing .content-container nav {
  padding-left: 15vw;
}

#landing .content-container h1 {
  display: inline-block;
  font-family: "Khand", sans-serif;
  font-size: 8vw;
  font-weight: 400 !important;
  line-height: 8vw;
  margin: 4vw 0;
  position: relative;
  top: 0.5vw;
}

#landing .content-container #malachite {
  width: 35vw;
  position: fixed;
  bottom: calc(50% - var(--container-height) / 2);
  right: 0;
  z-index: 2;
}

#landing .content-container nav {
  height: 4vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#0d2b2d), color-stop(62.7%, #3cbdae), color-stop(100%, #5edccd), to(rgba(94, 220, 205, 0)));
  background-image: linear-gradient(90deg, #0d2b2d 0%, #3cbdae 62.7%, #5edccd 100%, rgba(94, 220, 205, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw;
}

#landing .content-container nav:first-child {
  position: relative;
  z-index: 1;
}

#landing .content-container nav:last-child {
  opacity: 0.5;
  position: relative;
  top: 4vw;
  z-index: 3;
}

#landing .content-container nav button {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  color: #fff;
  font-family: "Khand", sans-serif;
  font-size: 2.5vw;
  font-weight: 400 !important;
  line-height: 2.5vw;
  position: relative;
  top: 0.2vw;
}

#landing .content-container nav button:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  #landing {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #landing .content-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
  }
  #landing .content-container h1,
  #landing .content-container #sections {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  #landing .content-container h1 {
    font-size: 4rem;
    line-height: 4rem;
    padding-bottom: 20px;
    top: 0;
    padding: 20px;
  }
  #landing .content-container #sections {
    padding: 10px;
  }
  #landing .content-container #malachite {
    width: 350px;
    bottom: 0;
    z-index: -1;
  }
  #landing .content-container nav {
    gap: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #landing .content-container nav:last-child {
    display: none;
  }
  #landing .content-container nav button {
    font-size: 24px;
    line-height: 24px;
    padding: 0;
  }
}
/*# sourceMappingURL=landing.css.map */