@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400&display=swap");

#landing {
    display: flex;
    align-items: center;

    .content-container {
        --img-ratio: 1144/736;
        --container-height: calc(35vw * var(--img-ratio));

        height: var(--container-height);
        max-height: 100vh;
        width: 100%;
        position: relative;

        h1,
        nav {
            padding-left: 15vw;
        }

        h1 {
            display: inline-block;
            font-family: "Khand", sans-serif;
            font-size: 8vw;
            font-weight: 400 !important;
            line-height: 8vw;
            margin: 4vw 0;
            position: relative;
            top: 0.5vw;
        }

        #malachite {
            width: 35vw;
            position: fixed;
            bottom: calc(50% - var(--container-height) / 2);
            right: 0;
            z-index: 2;
        }

        nav {
            height: 4vw;
            background-image: linear-gradient(
                90deg,
                #0d2b2d 0%,
                #3cbdae 62.7%,
                #5edccd 100%,
                rgba(94, 220, 205, 0) 100%
            );
            display: flex;
            align-items: center;
            gap: 4vw;

            &:first-child {
                position: relative;
                z-index: 1;
            }

            &:last-child {
                opacity: 0.5;
                position: relative;
                top: 4vw;
                z-index: 3;
            }

            button {
                appearance: none;
                -webkit-appearance: none;
                background: transparent;
                border: 0;
                color: #fff;
                font-family: "Khand", sans-serif;
                font-size: 2.5vw;
                font-weight: 400 !important;
                line-height: 2.5vw;
                position: relative;
                top: 0.2vw;

                &:hover {
                    color: #ccc;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    #landing {
        align-items: flex-start;

        .content-container {
            width: fit-content;

            h1,
            #sections {
                height: fit-content;
                box-sizing: border-box;
                margin: 0;
            }

            h1 {
                background-color: rgba(255, 255, 255, 0.6);
                font-size: 4rem;
                line-height: 4rem;
                padding-bottom: 20px;
                top: 0;
                padding: 20px;
            }

            #sections {
                padding: 10px;
            }

            #malachite {
                width: 350px;
                bottom: 0;
                z-index: -1;
            }

            nav {
                gap: 25px;
                justify-content: center;

                &:last-child {
                    display: none;
                }

                button {
                    font-size: 24px;
                    line-height: 24px;
                    padding: 0;
                }
            }
        }
    }
}
