@charset "UTF-8";
#portfolio {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#portfolio > nav {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0 20px;
  margin: auto;
}

#portfolio > nav .tab-label {
  height: 45px;
  min-width: 330px;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 10px;
  padding: 8px;
  white-space: nowrap;
}

#portfolio > nav .tab-label.not-showing:hover,
#portfolio > nav .tab-label select:hover {
  cursor: pointer;
}

#portfolio > nav .tab-label.project {
  background-color: antiquewhite;
}

#portfolio > nav .tab-label.documentation {
  background-color: lavender;
}

#portfolio > nav .tab-label.not-showing {
  background-color: #aaa;
}

#portfolio > nav .tab-label.showing {
  background-color: #fff;
}

#portfolio > nav .tab-label label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  position: relative;
}

#portfolio > nav .tab-label label select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px solid black;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  z-index: 2;
}

#portfolio > nav .tab-label label select,
#portfolio > nav .tab-label label select option {
  padding: 2px 1.5rem 2px 5px;
}

#portfolio > nav .tab-label label .select-arrow {
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
}

#portfolio > nav .tab-label label .select-arrow.arrow-with-new-tab {
  right: 24px;
}

#portfolio > nav .tab-label label .select-arrow.arrow-without-new-tab {
  right: 0;
}

#portfolio > nav .tab-label label .open-new-tab {
  text-decoration: none;
}

#portfolio > nav,
#portfolio main #content {
  max-width: 900px;
}

#portfolio main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

#portfolio main #content {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  margin: auto;
  padding: 40px clamp(15px, 5vw, 80px);
}

#portfolio main #content.has-iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#portfolio main #content.has-iframe iframe {
  width: 100%;
  border: 0;
}

#portfolio main #content a:hover {
  color: #555;
}

#portfolio main #content #home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

#portfolio main #content .project-description {
  background-color: #ccc;
  border-radius: 10px;
  padding: 0 20px;
}

#portfolio main #content .project-description p {
  display: inline-block;
}

#portfolio main #content .mushroom-image {
  height: auto;
  max-height: 400px;
  max-width: 100%;
  width: autо;
}

#portfolio main #content .error-message {
  color: maroon;
}
/*# sourceMappingURL=portfolio.css.map */