#portfolio {
    height: 100%;
    display: flex;
    flex-direction: column;

    // not header nav
    & > nav {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 0 20px;
        margin: 15px auto 0;

        .tab-label {
            height: 45px;
            min-width: 330px;
            border-bottom: 0;
            border-radius: 10px 10px 0 0;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            gap: 10px;
            padding: 8px;
            white-space: nowrap;

            &.not-showing,
            select {
                &:hover {
                    cursor: pointer;
                }
            }

            &.project {
                background-color: antiquewhite;
            }

            &.documentation {
                background-color: lavender;
            }

            &.not-showing {
                background-color: #aaa;
            }

            &.showing {
                background-color: #fff;
            }

            label {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                position: relative;

                select {
                    appearance: none;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1.5px solid black;
                    font-family: "Oxygen", sans-serif;
                    font-size: 1rem;
                    font-weight: 300;
                    z-index: 2;

                    &,
                    option {
                        padding: 2px 1.5rem 2px 5px;
                    }
                }

                .select-arrow {
                    font-size: 1.5rem;
                    position: absolute;
                    z-index: 1;

                    &.arrow-with-new-tab {
                        right: 24px;
                    }

                    &.arrow-without-new-tab {
                        right: 0;
                    }
                }

                .open-new-tab {
                    text-decoration: none;
                }
            }
        }
    }

    & > nav,
    main #content {
        max-width: 900px;
    }

    main {
        height: 100%;
        overflow: hidden;

        #content {
            height: 100%;
            box-sizing: border-box;
            background-color: #fff;
            margin: auto;
            overflow: auto;
            padding: 40px clamp(15px, 5vw, 80px);

            &.has-iframe {
                display: flex;
                padding: 0;

                iframe {
                    width: 100%;
                    border: 0;
                }
            }

            a {
                &:hover {
                    color: #555;
                }
            }

            #home {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
            }

            .project-description {
                background-color: #eee;
                border-radius: 10px;
                padding: 0 20px;

                p {
                    display: inline-block;
                }
            }

            .mushroom-image {
                height: auto;
                max-height: 400px;
                max-width: 100%;
                width: autо;
            }

            .error-message {
                color: maroon;
            }
        }
    }
}
