@charset "UTF-8";
#root {
  height: 100%;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root nav,
#root main #content {
  max-width: 900px;
}

#root main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

#root main #content {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  margin: auto;
  padding: 40px clamp(15px, 5vw, 80px);
}

#root main #content.external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#root main #content.external iframe {
  width: 100%;
  border: 0;
}

header {
  background-color: #000;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  margin: 0.75rem;
}

nav {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0 20px;
  margin: auto;
}

nav .tab-label {
  height: 45px;
  min-width: 300px;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 10px;
  padding: 8px;
  white-space: nowrap;
}

nav .tab-label.not-showing:hover,
nav .tab-label select:hover {
  cursor: pointer;
}

nav .tab-label.project {
  background-color: antiquewhite;
}

nav .tab-label.documentation {
  background-color: lavender;
}

nav .tab-label.not-showing {
  background-color: #aaa;
}

nav .tab-label.showing {
  background-color: #fff;
}

nav .tab-label label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

a:hover {
  color: #555;
}

label {
  position: relative;
}

label select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px solid black;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  z-index: 2;
}

label select,
label select option {
  padding: 2px 1.5rem 2px 5px;
}

label .select-arrow {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  z-index: 1;
}

.project-description {
  background-color: #ccc;
  border-radius: 10px;
  padding: 0 20px;
}

.project-description p {
  display: inline-block;
}

.button-link,
button {
  background: #000;
  border-radius: 8px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 5px 10px;
  text-decoration: none;
}

.button-link:hover,
button:hover {
  background-color: #555;
  color: white;
  cursor: pointer;
}

.mushroom-image {
  height: auto;
  max-height: 400px;
  max-width: 100%;
  width: autо;
}

.error-message {
  color: maroon;
}
/*# sourceMappingURL=portfolio.css.map */